.bookings-show {
  margin-bottom: 100px;
    > h2 {
        margin: 10vh 0;
    }
    > .row {
        div {
            .image-booking {
                height: 60vh;
                object-fit: cover;
                border-radius: 5px;
            }
            .price-title-info {
                display: flex;
                .title {
                    flex-grow: 1;
                    h3 {
                        margin: 0;
                    }
                    .address {
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
                // PRICE
                > p {
                    margin: 0;
                    text-align: right;
                    font-size: 20px;
                    width: 40%;
                }
            }
            // BOOKING
            > p {
                margin: 4vh 0;
            }
            // EDIT BOOKING BUTTON
            > a {
                padding: 10px 20px;
                background-color: $green;
            }
        }
        div + div {
            padding-right: 0;
            padding-left: 30px;
        }
    }
}
