
.paintings-show {
  h4 {
    text-align: center;
    margin: 10px;
  }
  .row {
    > .related-paintings {
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        background-size: cover;
        padding: 0;
        margin: 10px;
    }
    .text {
        padding: 10px;
        .price {
          font-size: 12px;
          margin-bottom: 10px;
        }
    }
  }
  h1 {
    text-align: center;
    margin: 60px 0 40px 0;
  }

  // BUTTON
  .button-edit {
    margin: 0 30px 0 0;
  }
  .button-book {
  margin: 20px 0 60px 0;
    .btn
    {
      width: 150px;
    }
  }

  // CARD
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 380px;
}

.card-trip > img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .title {
    text-align: left;
    margin-bottom: 10px;
  }
  .price {
    margin-top: 6px;
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

  // REVIEWS
.reviews {
  h4 {
    text-align: center;
    padding: 20px 0 20px 0;
  }
  h6 {
    text-align: center;
    font-style: italic;
  }
  p {
    text-align: center;
  }
  .card-review {
    margin: 0 10vw;
    .card-header {
      font-size: 14px;
    }
    .card-body {
      h6 {
        font-style: normal;
      }
      p {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  padding-bottom: 40px;
}

// RELATED
.related {
  text-align: center;
  padding: 20px 0 20px 0;
}

// TAGS

.tags {
  text-align: center;
  padding: 20px 0 20px 0;
  margin-bottom: 4vw;
  h4 {
    margin-bottom: 2vw;
  }
  a {
    margin: 0 2px;
    border: solid 1px $green;
    padding: 4px 6px;
    border-radius: 10px;
  }
}

}
