<% if policy(@booking).show? %>
  <h2>Your Booking</h2>
  <h5><%= @booking.painting.title %></h5>
  <p><%= @booking.start_date %></p>
  <p><%= @booking.end_date %></p>
  <p><%= @booking.location %></p>
<% end %>
