footer {
    background-color: $green;
    padding: 15px 6vw;
    display: flex;
    justify-content: space-between;
    * {
        font-size: 20px;
        font-family: $headers-font;
    }
    div {
        a + a {
            margin-left: 1vw;
        } 
    }
    > a {
        font-size: 20px;
        font-family: $logo-font;
        font-style: italic;
        font-weight: bold;
    }
}